.keyboard {
  display: flex;
  flex-wrap: wrap;
  width: 410px;
  justify-content: space-between;
  margin-top: 20px;
}

.keypad {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}

.keypad.letter-not-found {
  border-color: red;
}

.keypad.letter-found {
  border-color: green;
}

.letter {
  margin-right: 5px;
  font-size: 30px;
}
